table.content-table
    caption Request List
    thead
        tr 
            th PATIENT_ID
            th DOCTOR_ID
            th CONTENT
            th STATUS
            th
    tbody
        tr
            each request in requests
                tr
                    td
                        input(class='read-only' type='text' name='patient_id', value = request.patient_id, required='', readonly=true)
                    td
                        input(class='read-only' type='text' name='doctor_id', value = request.doctor_id, required='', readonly=true) 
                    td
                        input(class='read-only' type='text' name='content', value = request.content, required='', readonly=true)               
                    td
                        input(class='read-only' type='text' name='status', value = request.status, required='', readonly=true)
                    if request.status == 0    
                        td
                            button(type='method-button' onclick='doneRequest(' + request.id + ')') Done
