nav 
    ul.menu
        a.hmsLogo(href="logo") HMS25 
            i.fas.fa-hospital-symbol
        li.item
            a.navBar(href="/") Home
        li.item
            a.navBar(href="about") About
        li.item
            a.navBar(href="contacts") Contacts
        li.item.button
            a.emergency(href="emergency") Emergency   
                i.fas.fa-ambulance
        li.toggle
            span.bars