div.grid.doctor  
    h1.icon View Your Doctor 
    div.doctorInfo
        each doctor in doctors
            br
            span= doctor.NAME
            br
            span= doctor.GENDER
            br
            span= doctor.DOB
            br
            span= doctor.PHONE