div.grid.visit 
    h1.icon Your Visit History 
        i.fas.fa-history
        ul
            each visit in visits
                li
                    tr
                        td= visit.ID
                        td= visit.CHECKIN
                        td= visit.CHECKOUT
div#pageNumber
    - for(var x = 1; x <= page; x++)
        button(onclick='changePage(' + x + ')') #{x}
        br