div.content-header
    h1.content-header Your Supervisory Doctor
div.content-grid.doctor-grid
    div.headlines
        h2 Name
        h2 Gender
        h2 Date of Birth
        h2 Phone Number
    div.doctorInfo
        each doctor in doctors
            span= doctor.name
            span= doctor.gender
            span= doctor.dob
            span= doctor.phone