div.grid.visit 
    h1.icon Your Visit History 
        ul
            each visit in visits
                li
                    tr
                        td= visit.CHECKIN
                        td= visit.CHECKOUT
                button(onclick='viewVisitDetail(' + visit.ID +')') View
                div(class="visit-detail" id="visit-detail" + visit.ID)
div#pageNumber
    - for(var x = 1; x <= page; x++)
        button(onclick='changePage(' + x + ')') #{x}
        br