div.visit-record
    div.record-disease
        h3 Disease(s): 
        each disease in diseases
            span= disease.name
    div.record-treatment
        h3 Treatment(s):
        each treatment in treatments
            span= treatment.name
    div.record-room
        h3 Room Number: 
        each room in rooms
            span= room.number