extends index.pug

block append metadata
    script(src='https://kit.fontawesome.com/981d34ebcc.js' crossorigin='anonymous')
    link(rel='stylesheet' href='/styles/emergency.css')
block main
    div.container
        h1 This is the emergency site
        button.btn.emergency
            i.fas.fa-ambulance
            | Emergency call
        button.btn.emerNumber 0707353818
