html
  head
    link(rel='stylesheet', type='text/css', href='./styles/app.css')
  body
    header
      .container
        h3 Hospital Management System
    nav
      .container
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
    main
      .container
        #img
          | PICTURE
        #form
          h3 Login Form
          form(action='auth', method='POST')
            input(type='text', name='username', placeholder='Username')
            br
            input(type='password', name='password', placeholder='Password')
            br
            input(type='submit')
    footer
      .container
        p WELCOME TO OUR HOSPITAL
