doctype html
html(lang = 'en')
  head
<<<<<<< HEAD
    link(rel='stylesheet', type='text/css', href='./styles/app.css')
  body
    header
      .container
        h3 Hospital Management System
    nav
      .container
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
    main
      .container
        #img
          | PICTURE
        #form
          h3 Login Form
          form(action='auth', method='POST')
            input(type='text', name='username', placeholder='Username')
            br
            input(type='password', name='password', placeholder='Password')
            br
            input(type='submit')
    footer
      .container
        p WELCOME TO OUR HOSPITAL
=======
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scales=1.0")
    title HMS25 - Software Engineering Project
    link(rel="stylesheet", href="/styles/index.css")
    script(src='jquery.js')
  
  body
    nav
      ul.menu
        li.hmsLogo
          a(href="#logo") HMS 25
        li.item
          a(href="#home") Home
        li.item
          a(href="#about") About
        li.item
          a(href="#contact") Contacts
        li.toggle
            span.bars
  
    // picture  
    div.slider
      // container for images
      div.slides
        input(type="radio" value="radio1")
        input(type="radio" value="radio2")
        input(type="radio" value="radio3")
        input(type="radio" value="radio4")
        input(type="radio" value="radio5")

        // images in slider
        div.slideFirst
          img(src="/public/images/pic0.jpg" alt="" width="480" height="360")
        div.slide
          img(src="/public/images/pic1.jpg" alt="" width="480")
        div.slide
          img(src="/public/images/pic2.jpg" alt="" width="480")
        div.slide
          img(src="/public/images/pic3.jpg" alt="" width="480")
        div.slide
          img(src="/public/images/pic4.jpg" alt="" width="480")

        // navigation automatically of sliders
        div.navigation-auto
          div.auto-btn1
          div.auto-btn2
          div.auto-btn3
          div.auto-btn4
          div.auto-btn5
      
      // navigation manually
      div.navigation-manual
        label.manual-btn(for="radio1")
        label.manual-btn(for="radio2")
        label.manual-btn(for="radio3")
        label.manual-btn(for="radio4")
        label.manual-btn(for="radio5")
    
    // login form
    div.login-form
      h1 Login Form
      form(action='auth', method='POST')
        input(type='text', name='username', placeholder='Username', required='')
        input(type='password', name='password', placeholder='Password', required='')
        input(type='submit')
>>>>>>> NamAnh
