doctype html
html(lang='en')
head
    title Homepage
body
    each doctor in doctors
        h1 Welcome back
        span= doctor.NAME
        br
        span= doctor.GENDER
        br
        span= doctor.DOB
        br
        span= doctor.PHONE