doctype html
html(lang='en')
   head
      title Homepage
   
   body
      h1 Welcome back, #{name}
      a(href="admin/doctor-list") Doctor List
      br
      a(href="admin/patient-list") Patient List