* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #3c4053;
}
.contact {
  position: relative;
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  background-color: #283042;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  width: 100vw;
  text-align: center;
  font-size: 20px;
}

.content h1 {
  font-size: 1.6rem;
  color: red;
}

.content p {
  font-weight: 300;
  color: #fff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.icon {
  min-width: 60px;
  height: 60px;
  background: #00cff3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  font-size: 22px;
  margin-right: 10px;
}

.icon:hover {
  background: white;
  color: red;
  transition: 0.5s;
}

.box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
}
.box .text h2 {
  color: red;
}

.contactForm {
  width: 40%;
  padding: 20px;
  background: #283042;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-weight: 1000;
  color: #00cff3;
  text-align: center;
}

.inputForm {
  position: relative;
  width: 100%;
  margin-top: 10px;
  overflow-x: scroll;
}

.contactForm .inputForm input,
.contactForm .inputForm textarea {
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
  padding: 15px 0;
  border: none;
  color: white;
  background: #283042;
  border-bottom: 2px solid #00cff3;
  outline: none;
}

.contactForm .inputForm span {
  position: absolute;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  color: red;
  font-weight: 500;
}

.contactForm .inputForm input:focus ~ span,
.contactForm .inputForm input:valid ~ span,
.contactForm .inputForm textarea:focus ~ span,
.contactForm .inputForm textarea:valid ~ span {
  color: white;
  background:#00cff381;
  padding: 3px;
  border-radius: 3px;
}

.contactForm .inputForm input[type="submit"] {
  width: 100%;
  background-color:  #1e2124;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.4rem;
  align-items: center;
  font-weight: 500;
  text-align: center;
}

.contactForm .inputForm input[type="submit"]:hover {
  background: white;
  color: red;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }

  .contactForm {
    border-radius: 3%;
  }

  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}

textarea {
  resize: none;
}
