h1 {
    color: black;
}

.btn {
    background-color: #da190b;
    border: none;
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    display: block;
    margin: 15px auto;
    width: 50vw;
    height: 25vh;
    font-size: 1.5rem;
}

.emergency {background-color: #f44336;} 
.emergency:hover {background: #da190b;}

.fas {
    padding: 2%;
}

.emerNumber {
    background-color: #2698D6;
}