/* Desktop Menu View */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, sans-serif;
}
nav {
    overflow: hidden;
    background: #222;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    background: -webkit-linear-gradient(#05fdc7, #00c4e6, #008cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
a:hover {
    -webkit-text-fill-color: #05fdc7;
}
.hmsLogo {
    font-size: 24px;
}
.menu li {
    font-size: 16px;
    padding: 5px 5px;
}
.menu li a {
    display: block;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}
.item.button {
    order: 2;
}
/*
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
} */
.bars {
    background: -webkit-linear-gradient(#05fdc7, #00c4e6, #008cff);;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before, .bars::after {
    background: -webkit-linear-gradient(#05fdc7, #00c4e6, #008cff);;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before {
    top: 5px;
}
.bars::after {
    top: -5px;
}

/* Login Form */
.login-form {
    width: 300px;
    margin: 0 auto;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
.login-form input[type="submit"]:hover {
    background-color: #1e2124;
}