/* Mobile Menu View */
* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  overflow: hidden;
  background: #1e2124;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  background: -webkit-linear-gradient(#05fdc7, #00c4e6, #008cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
a:hover {
  -webkit-text-fill-color: #05fdc7;
}
.hmsLogo {
  font-size: 24px;
}
.menu li {
  font-size: 16px;
  padding: 5px 5px;
}
.menu li a {
  display: block;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  cursor: pointer;
  order: 1;
}
.item.button {
  order: 2;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    transition: 0.5s;
    background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
.item.active {
    display: block;
}
.bars {
  background: -webkit-linear-gradient(#05fdc7, #00c4e6, #008cff);
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}
.bars::before, .bars::after {
  background: -webkit-linear-gradient(#05fdc7, #00c4e6, #008cff);
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}

/* Tablet Menu View */
@media all and (min-width: 480px) {
  .menu {
    justify-content: center;
  }
  .hmsLogo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button a {
    padding: 7px 15px;
    background: transparent;
    border: 1px solid red;
    border-radius: 50cm;
  }
  .button a:hover {
    background: darkred;
    transition: all .25s;
  }
}


/* Desktop Menu View */
@media all and (min-width: 720px) {
  .item {
    display:block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .hmsLogo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 5px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

/* Background slider */
.slider {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.slider__slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-image: image("/public/images/pic0.jpg");
  background-position: 50%;
  height: auto;
  width: auto;
  padding: 25px;
}
/* Login Form */
.login-form {
  width: 300px;
  margin: 0 auto;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
.login-form input[type="submit"]:hover {
  background-color: #1e2124;
}
