*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3c4053;
}

.content-table {
    width: 700px;
    /* text-align: left; */
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #283042;
    color: #fff;
    border: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #283042(0, 0, 0, 0.7);
}

.content-table caption {
    background-color: #1e2124;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
}

.content-table thead tr {
    background-color: #fff;
    color: #000;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    text-align: center;
    padding: 6px 10px;
}

tbody .data-row:nth-child(4n+1) {
    background-color: #283042;
}

tbody .data-row:nth-child(4n-1) {
    background-color: #414e6b;
}

tbody .data-row:nth-child(4n-1) input[type='text'] {
    background-color:  #414e6b;
}


/* thead{
    text-align: left;
} */

td  input[type='text'] {
    color: #fff;
    margin-right: 20px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #283042;
}

input[type='submit'], button[type='button'] {
    width: 100px;
    color: #000;
    background-color:  #00cff3;
    outline: none;
    border-radius: 5px;
}

/* .read-only, input[type='text'] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    border-width: 0px; 
} */


#pageNumber {
    display: inline-block;
}