* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.sideInfor {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.avatar {
    width: 90%;
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid #00cff3;
    text-align: center;
}

.ava {
    text-align: center;
}

.infor {
    color: #fff;
    text-align: center;
}

/*--------------Content--------------*/
.content {
    display: flex;
    margin-left: 250px;
    padding-left: 20px;
    background-image: url(../public/images/pic6.jpg);
    background-size: auto;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.grid {
    display: flex;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 2px solid #00cff3;
    justify-content: center;
    align-items: center;
    margin: 50px;
 }

 .link {
    text-decoration: none;
    color: #fff;
    margin: auto;
 }

 .icon {
     text-align: center;
 }

@media all and (max-width: 480px) {
    .sideInfor {
        /* margin-top: 42px; */
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 0;
    }
    
    .content {
        position: relative;
        top: 400px;
        margin-left: 0;
    }
    nav {
        position: relative;
        z-index: 1;
    }
}